.wallet__container{
    
}
.wallet__content{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    /* height: 100%; */
    /* padding:5rem; */
    z-index: 2;
}
.wallet__link{
    background-color: var(--white-color);
    padding:1.5rem;
}