<div class="logo">
  <img src="assets/img/Logo.svg" alt="logo" class="logo__img" />
</div>
<form (ngSubmit) = "formSubmit()" class="form" autocomplete="off">
  <div class="form__title">
    <h2 class="form__heading">Bienvenido, Inicia sesión</h2>
  </div>
  <div class="form__sign-in">
    <div class="input__wrap">
      <input [(ngModel)] = "loginData.username" name ="username"  required id="correo" class="input__field" placeholder=" "/>
      <i class="fa-solid fa-user form__icon"></i>
      <label for="correo" class="label__field">Usuario</label>
    </div>
    <div class="input__wrap">
      <input [(ngModel)] = "loginData.password" name="password" required type="password" class="input__field" placeholder=" "/>
      <i class="fa-sharp fa-solid fa-lock form__icon"></i>
      <label for="password" class="label__field">Contraseña</label>
    </div>
    <div class="input__wrap">
      <a href="#" class="forgot__link">¿Olvidaste tú contraseña?</a>
    </div>
    <div class="input__wrap">
      <button type = "submit" class="btn__acceses" color="primary">Iniciar sesión</button>
    </div>
    <p class="form__text">
      ¿No tienes cuenta? <a routerLink="/auth/registrar">Registrate ahora.</a>
    </p>
  </div>
</form>
