<section class="company main">
    <div class="company__header">
        <div class="company__header-content">
            <h3>{{title}}</h3>
            <span>Datos de la empresa.</span>
        </div>
        <div class="company__header-btn">
            <a class="company__header-btn--back" routerLink="/dashboard/empresa/list-company">
                <i class="bx bx-chevron-left"></i>
               <span>volver</span>
            </a>
        </div>
    </div>
    <div class="company__container">
        <div class="company__box">
            <div class="company__form">
                <form [formGroup]="form"(ngSubmit)="postEmpresas()" class="form">
                    <div class="form__content">
                        <div class="form__box">
                            <label for="razonSocial">Razon social</label>
                            <div>
                                <input type="text" formControlName="razonSocial" id="razonSocial" [class.error]="isValid('razonSocial')" class="form__input">
                                <span class="invalid" *ngIf="isValid('razonSocial')">{{getFieldError('razonSocial')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="nomEmpresa">Nombre Comercial</label>
                            <div>
                                <input type="text" formControlName="nomEmpresa" id="nomEmpresa" [class.error]="isValid('nomEmpresa')" class="form__input">
                                <span class="invalid" *ngIf="isValid('nomEmpresa')">{{getFieldError('nomEmpresa')}}</span>
    
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="ruc">RUC Empresas</label>
                            <div>
                                <input type="text" formControlName="ruc" id="ruc" [class.error]="isValid('ruc')" class="form__input">
                                <span class="invalid" *ngIf="isValid('ruc')">{{getFieldError('ruc')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="telefono">Telefono</label>
                            <div>
                                <input type="text" formControlName="telefono" id="telefono" [class.error]="isValid('telefono')" class="form__input">
                                <span class="invalid" *ngIf="isValid('telefono')">{{getFieldError('telefono')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="representanteLegal">Nombre del Representante</label>
                            <div>
                                <input type="text" formControlName="representanteLegal" id="representanteLegal" [class.error]="isValid('representanteLegal')" class="form__input">
                                <span class="invalid" *ngIf="isValid('representanteLegal')">{{getFieldError('representanteLegal')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="fechaDeInicioActv">Inicio Actividades</label>
                            <div>
                                <input type="date" formControlName="fechaDeInicioActv" id="fechaDeInicioActv" [class.error]="isValid('fechaDeInicioActv')" class="form__input">
                                <span class="invalid" *ngIf="isValid('fechaDeInicioActv')">{{getFieldError('fechaDeInicioActv')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="correo">Correo</label>
                            <div>
                                <input type="email" formControlName="correo" id="correo" [class.error]="isValid('correo')" class="form__input">
                                <span class="invalid" *ngIf="isValid('correo')">{{getFieldError('correo')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="sector">Actividad Economica</label>
                            <div>
                                <input type="text" formControlName="sector" id="sector" [class.error]="isValid('sector')" class="form__input">
                                <span class="invalid" *ngIf="isValid('sector')">{{getFieldError('sector')}}</span>
                            </div>
                        </div>
                        <div class="form__box">
                            <label for="direccion">Dirección Fiscal</label>
                            <div>
                                <input type="text" formControlName="direccion" id="direccion" [class.error]="isValid('direccion')" class="form__input">
                                <span class="invalid" *ngIf="isValid('direccion')">{{getFieldError('direccion')}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form__btn">
                        <button type="submit" class="form__btn-save ">
                            <i class="bx bx-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="form__img">
            <img src="/assets/img/building.svg" alt="building">
        </div>
    </div>
</section>


