.company {
    margin: 0 auto;
}

.main {
    min-height: 300px;
    margin-bottom: 50px;
}

.company__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding:1rem 0;
    margin-bottom: 2rem;
}
.company__header-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.company__header-content h2 {
    font-size: 32px;
    font-weight: 500;
    color: var(--black-color);
    display: none;
}
.company__header-content span{
    font-size: 16px;
    font-weight: 500;
    /* margin-top: 1rem; */
}
.company__header-btn{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.company__header-btn--back {
    display: flex;
    align-items: center;
    background-color: var(--sidebar-color);
    padding: 5px;
    border-radius: 20px;
    color: var(--white-color);
    cursor:pointer;
}
.company__header-btn--back span{
    display: none;
}
.company__header-btn--back i{
    font-size: 20px;
}
.company__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.form__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;
}

.form__box:nth-child(1),
.form__box:nth-child(2),
.form__box:nth-child(5),
.form__box:nth-child(8),
.form__box:nth-child(9) {
    grid-column: 1/3;
}

.form__box label {
    margin: 0 0 10px;
    color: var(--black-color);
    font-weight: 600;
    font-size: 13px;
}

.form__input {
    width: 100%;
    height: 50px;
    border: 1px solid #114966;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

.form__img img {
    background-color: var(--white-color);
    max-width: 100%;
    object-fit: cover;
    margin-top: 5rem;
    border-radius: 10px;
    display: none;
}

.form__btn {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.form__btn-save {
    width: 0;
    height: 40px;
    position: relative;
    border: 1px solid var(--sidebar-color);
    background-color: transparent;
    padding: 13px 20px;
    border-radius: 20px;
    min-width: 150px;
    color: var(--sidebar-color);
    line-height: 14px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.error {
    border: 1px solid #d45360;
}

.invalid {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #d45360;
    font-size: 12px;
    width: 100%;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    
    .form__box label {
        font-size: initial;
    }
}

@media screen and (min-width: 992px) {
    .company {
        width: 970px;
    }
    .company__header-content{
        align-items: flex-start;
    }
    .company__header-content h2{
        display: block;
    }
    .company__header-content span{
        margin-top: 1rem;
    }
    .company__header-btn--back{
        height: 40px;
        padding: 13px 30px;
    }
    .company__header-btn--back span{
        display: block;
    }
    .form__img img{
        display: block;
    }
    .company__container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .company {
        width: 1140px;
    }
}

@media screen and (min-width: 1366px) {
    .company {
        width: 1200px;
    }
}