<section class="inversion__container animate__animated animate__fadeIn animete_faster" >
    <div class="inversion__header">
        <div class="inversion__nav">
            <div class="inversion__header-content">
              <h3 class="inversion__title">Añadir Oportunidades</h3>
            </div>
            <div clasS="inversion__group">
                <a routerLink="/inversiones/list-inversion" class="btn__factura">
                    <i class='bx bx-chevron-left'></i>
                  Regresar
                </a>
              </div>
        </div>
    </div>
    <div class="inversion__content">
        
        <div class="inversion__box">
            <h3 class="inversion__subtitle">Empresa</h3>
            <app-search-box (onDebounce)="filterEmpresas($event)" placeholder="Buscar empresa"></app-search-box>
            <div class="listar__content-table">
                <table class="listar__table">
                    <thead class="listar__thead">
                        <tr>
                            <th>Codigó</th>
                            <th>Razon Social</th>
                            <th>RUC</th>
                            <th>Factura</th>
                            <th>Rubro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="listar__tbody" *ngIf="seEncontraronResultados">
                        <tr *ngFor="let emp of empresas">
                            <td>{{emp.idEmpresa}}</td>
                            <td>{{emp.razonSocial}}</td>
                            <td>{{emp.ruc}}</td>
                            <td>{{emp.representanteLegal}}</td>
                            <td>{{emp.sector}}</td>
                            <td>
                                <a class='bx bx-plus icon' (click)="addFacturaporEmpresas(emp)"></a>
                            </td> 
                        </tr>
                       
                      </tbody>
                </table>
                <app-spinner-list *ngIf="isLoading"></app-spinner-list>
                <div *ngIf="!seEncontraronResultados" class="alert alert-primary text-center mx-auto w-50">
                  No hay empresas que mostrar
                </div>
            </div>
        </div>
        <div class="inversion__box">
            <h3 class="inversion__subtitle">
                <ng-container *ngIf="empresaSeleccionada; else defaultTitle">
                    Facturas de {{empresaSeleccionada.razonSocial}}
                </ng-container>
                <ng-template #defaultTitle>
                    Facturas de la Empresa
                </ng-template>
            </h3>
            <div class="listar__content-table">
                <table class="listar__table">
                    <thead class="listar__thead">
                        <tr>
                            <th>Codigó</th>
                            <th>monto</th>
                            <th>Fecha eminsion</th>
                            <th>Fecha Pago</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="listar__tbody">
                        <tr *ngFor="let fac of facturaList">
                            <td>{{fac.codFactura}}</td>
                            <td>{{fac.monto}}</td>
                            <td>{{fac.fechaEmision}}</td>
                            <td>{{fac.fechaPago}}</td>
                            <td>{{fac.descripcion}}</td>
                            <td>
                                <div class="listar__acciones">
                                    <a  (click)="addFacturaOportunidad(fac)" class="listar__action-buttons"> <i class='bx bx-plus'></i> </a> 
                                    <a (click)="deleteFacturaOportunidad(fac)" class="listar__action-buttons"> <i class='bx bx-x' ></i></a>    
                                </div>
                               
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="inversion__box">
            <form action="" class="inversion__form">
                <h3 clasS="inversion__subtitle">Agregar Inversión</h3>
                <div class="inversion__form__content">
                    <div class="form__box">
                        <label for="rendimiento">Rendimiento</label>
                        <input type="text" [(ngModel)]="objOportunidades.rendimiento" name="rendimiento" id="rendimiento" class="form__input">
                    </div>
                    <div class="form__box">
                        <label for="tir">Tasa Interna de Retorno</label>
                        <input type="text" [(ngModel)]="objOportunidades.tir" name="tir" id="tir" class="form__input">

                    </div>
                    <!-- <div class="form__box">
                        <label for="riesgo">Riesgo</label>
                        <select name="riesgo" id="riesgo" class="form__input" [(ngModel)]="objOportunidades">
                            <option selected disabled value="">Seleciona Riesgo</option>
                            <option value="">Bajo</option>
                        </select>
                    </div> -->
                    <div class="form__box">
                        <label for="fechaCaducidad">Fecha de caducidad</label>
                        <input type="date" name="fechaCaducidad" [(ngModel)]="objOportunidades.fechaCaducidad" id="fechaCaducidad" class="form__input">
                    </div>
                    <div class="form__box">
                        <label for="monto">monto</label>
                        <input type="number" [(ngModel)]="objOportunidades.monto" name="monto" id="monto" class="form__input">
                    </div>
                </div>
                <div class="form__group--btn">
                    <button class="btn btn-danger">Cancelar</button>
                    <button class="btn btn-primary"(click)="postInsertarOportunidad()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    
</section>

<!-- <section class="company__container animate__animated animate__fadeIn animete_faster">
    <div>
        <h3>Agregar oportunidades</h3>
    </div>
    <div class="company__form">

        <div class="form__content">
            <form class="company__content-form" >
                <div class="form__group">
                    <div class="form__box">
                        <label for="empresa">Empresa</label>
                        <select name="empresa" id="empresa" class="form__input">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form__box">
                        <label for="factura">Factura</label>
                        <select name="factura" id="factura" class="form__input">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form__box">
                        <label for="rendimiento">Rendimiento</label>
                        <input type="text" name="rendimiento" id="rendimiento" class="form__input">
                    </div>
                    <div class="form__box">
                        <label for="tir">Tasa Interna de Retorno</label>
                        <input type="text" name="tir" id="tir" class="form__input">
                    </div>
                    <div class="form__box">
                        <label for="fechaCaducidad">Fecha de caducidad</label>
                        <input type="date" name="fechaCaducidad" id="fechaCaducidad" class="form__input">
                    </div>
                    <div class="form__box">
                        <label for="monto">monto</label>
                        <input type="number" name="monto" id="monto" class="form__input">
                    </div>
                </div>
                <div class="form__group--btn">
                    <button class="btn btn-danger">Cancelar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</section> -->
