.slide__wrapper {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 3rem auto 2rem auto;
    display: grid;
    place-items: center;
}
.slide__wrapper img {
    display: none;
}

.slide__wrapper img.active {
    display: block;
    width: 100%;

}
.text__wrap {
    display: absolute;
    max-height: 2.2rem;
    max-width: 100%;
    
}
.text__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text__content p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
    display: none;
}

.text__content p.active {
    display: block;
    width: 100%;
}

.slider__bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.slider__bullets span {
    display: block;
    width: 0.9rem;
    height: .9rem;
    background-color: var(--white-color);
    margin: 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.slider__bullets span.active {
    width: 1.9rem;
    background-color: #151111;
    border-radius: 2rem;
}
