<div class="retiro">
  <form action="" class="form__retiro">
    <div class="retiro__group">
      <div class="form__retiro-content">
        <h3>Retiro</h3>
        <div class="form__retiro-content">
          <div class="retiro__box">
            <label for="cuentaBancaria"
              >De las cuentas que tienes registradas, selecciona la que usaras
              para retirar a InvestGo!</label>
            <select name="cuentaBancaria" id="cuentaBancaria" class="retiro__input">
              <option selected disabled value="">
                Selecciona Cuenta Bancaria
              </option>
            </select>
          </div>
          <div class="retiro__box">
            <label for="monto">Escribe el monto de retiro</label>
            <input type="text" name="monto" class="retiro__input"/>
          </div>
        </div>
        <div class="deposito__group-btn">
          <button type="button" class="deposito__btn group-btn">
            Depositar
          </button>
          <button type="button" class="deposito__goBack group-btn" (click)="finalizarRetiro()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
