.retiro{
    background-color: var(--white-color);
    padding:1rem 13rem;
    border-radius: 10px;
}
.retiro__group{
    display: grid;
    grid-template-columns:1fr;
    gap:1rem;
}
.form__retiro-content{
    display: grid;
    grid-template-columns:1fr;
    place-content: center;
    /* width:60%; */
    margin:auto;
    gap: 1rem;   
}
.form__retiro-content h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 2rem;
}
.retiro__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;  
}
.retiro__box label{
    font-size: 13px;
    font-weight: 600;
}
.retiro__input{
    width:100%;
}
.deposito__group-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.group-btn{
    border:none;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.deposito__btn{
    background-color: var(--sidebar-color);
    color: var(--white-color);
    transition: all 0.3s ease;
}
.deposito__btn:hover{
    background-color: #c57205;
}
.deposito__goBack{
    background-color: var(--previus-color-btn);
    color:var(--black-color);
    transition: all 0.3s ease;
}
.deposito__goBack:hover{
    background-color: #b6b6b6;
}