<div class="retiro">
  <div class="deposito__goback">
    
    <a (click)="finalizarRetiro()">
      <i class='bx bx-chevron-left'></i>Regresar</a>
  </div>
  <form action="" class="form__retiro" [formGroup]="form" (ngSubmit)="postRetirar()">
    <div class="retiro__group">
      <div class="form__retiro-content">
        <h3>Retiro</h3>
          <div class="retiro__box">
            <label for="cuentaBancaria"
              >De las cuentas que tienes registradas, selecciona la que usaras
              para retirar a InvestGo!</label>
            <select formControlName="idCuentaBancaria" id="idCuentaBancaria" class="retiro__input">
              <option selected disabled value="">Selecciona Cuenta Bancaria</option>
              <option *ngFor="let cuenta of cuentabancariaCombo" [value]="cuenta.idCuentaBancaria"> {{cuenta.nroCuenta}} </option>
            </select>
            <span class="invalid" *ngIf="isValid('idCuentaBancaria')">{{getFieldError('idCuentaBancaria')}}</span>
          </div>
          <div class="retiro__box">
            <label for="monto">Escribe el monto de retiro</label>
            <div class="input__wrapper">
              <input type="number" formControlName="monto" class="retiro__input" step="0.01" placeholder="¿Cuanto deseas retirar?"/>
            </div>
            <span class="invalid" *ngIf="isValid('monto')">{{getFieldError('monto')}}</span>
          </div>
          <div class="deposito__group-btn">
            <button type="submit" class="deposito__btn group-btn">
              Retirar
            </button>
            <!-- <button type="button" class="deposito__goBack group-btn" (click)="finalizarRetiro()">
              Cancelar
            </button> -->
          </div>
        </div>
      </div>
  </form>
</div>
<!-- <app-loading-spinner></app-loading-spinner> -->