.progress-content {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.progress-width {
  height: 100%;
  background-color: #4CAF50;
  width: 50%; /* Puedes ajustar este valor para cambiar el progreso */
  border-radius: 10px;
}