<div class="modal-background" [class.active]="display">
    <div class="modal-container">
        <div class="modal-header">
            <button class="close-button">X</button>
        </div>
      <div class="modal-content">
        <i class='bx bx-error-alt'></i>
        <h3>¿Estás seguro que deseas salir?</h3>
        <p> Cambiará el flujo de este proceso.</p>
        <div class="modal-buttons">
          <button >Cerrar sin cancelar el registro</button>
          <button >Cancelar Registro</button>
        </div>
      </div>
    </div>
  </div>

