<div class="modal-background" [ngClass]="'modal-active'">
    <div class="modal-container">
        <!-- <div class="modal-header">
            <button class="close-button" (click)="closeModal()">
                <i class='bx bx-x icon'></i>
            </button>
        </div> -->
      <div class="modal-content">
        <i class='bx bx-error-alt'></i> 
        <h3>{{title}}</h3>
        <p>{{message}}</p>
        <div class="modal-buttons">
          <button type="button" (click)="closeModal()">Regresar</button>
        </div>
      </div>
    </div>
  </div>

