<section class="factura__container animate__animated animate__fadeIn animete_faster">
    <h3>{{title}}</h3>
    <div class="listar__content">
        <div class="listar__button">
          <div>
            <a routerLink="/facturas/add-factura" class="btn__save">
              <i class="bx bx-plus"></i>
            Agregar facturas
            </a>
          </div>
        </div>
        <div class="listar__content-table">
          <table class="listar__table">
            <thead class="listar__thead">
              <tr>
                <th>Codigó</th>
                <th>Razon Social</th>
                <th>RUC</th>
                <th>Representante Legal</th>
                <th>Nombre Comercial</th>
                <th>Fecha Inicio de Actividad </th>
                <th>Rubro</th>
              </tr>
            </thead>
            <tbody class="listar__tbody">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</section>
