
.page-container{
    margin-top: 10px;
    padding:0;
}
.page-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.page-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;   
    border:none;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--sidebar-color);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.page-content ul li{
    display: inline-block;
   
    cursor: pointer;
}
.page-content ul li a:hover{
    background-color: var(--sidebar-color);
    color: var(--white-color);
}
.page-content ul li a{
    font-size: 14px;
    color: var(--sidebar-color);
    background-color: var(--white-color);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 5px 7px;
    border-radius: 5px;
}