.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.logo .logo__img {
    width: 120px
}

.form {
    max-width: 250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 3rem;
}

.form__heading {
    margin-top: 1rem;
}

.form__title {
    font-weight: 600;
    color: var(--black-color);
}

.form__subtitle {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: var(--form-color);
}

.form__sign-up {

    justify-content: space-around;
    gap: 1rem;
}

.input__wrap {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    margin-bottom: 0.3125rem;
    height:40px;
}

.input__button {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.btn__back,
.btn__access {
    font-size: 0.875rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.btn__back {
    background-color: var(--previus-color-btn);
    color: var(--text-color-btn);
}

.btn__access {
    background-color: var(--sidebar-color);
    color: var(--white-color);
}

.input__field {
    font-size: 0.875rem;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black-color);
    color: var(--black-color);
}

.valid__contraseña {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -0.2rem;
    grid-column: 1/3;
}

.valid__contraseña p {
    font-size: 0.8rem;
    color: var(--black-color);
}

.valid__contraseña i {
    color: var(--black-color);
}

.input__field::placeholder {
    color: var(--grey-color);
    font-size: 0.875rem;
}

.invalid {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #ff4747;
    font-size: 10px;
    width: 100%;
    margin-top: 0.5rem;
}

@media screen and (min-width: 468px) {
    .logo .logo__img{
        width:150px
    }
    .form {
        max-width: 350px;
    }

    .form__sign-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .input__wrap:nth-child(1),
    .input__wrap:nth-child(6) {
        grid-column: 1/3;
    }

    .input__wrap:nth-child(8),
    .input__wrap:nth-child(7) {
        padding-bottom: 0;
    }

}

@media screen and (min-width: 768px) {
    .form {
        max-width: 500px;
        /* margin-bottom: 0; */
    }

    .input__field {
        font-size: 1rem;
    }

    .invalid {
        font-size: 11px;
    }

    .btn__back,
    .btn__access {
        font-size: 1rem;
    }
}
