.logo .logo__img {
    width: 150px;
    margin: 2.5rem 0rem 0rem 2.5rem;
}

.form {
    max-width: 450px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__heading {
    margin: 2.2rem 0 2.2rem 0;
}

.form__title {
    font-weight: 600;
}

.form__subtitle {
    margin-top: 0.5rem;
    color: var(--form-color);
}

.input__wrap {
    position: relative;
    /* height: 37px; */
    padding-bottom: 1.5rem;
}

.input__wrap:nth-child(7) {
    padding-bottom: 0;
}
.input__button{
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 1rem;
}
.btn__back,
.btn__access{
    border-radius: 10px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    /* background-color: red; */
}
.btn__back{
    background-color:var(--previus-color-btn);
    color:var(--text-color-btn);
}
.btn__access{
    background-color:var(--primary-color);
    color:var(--white-color);
}
.input__field {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--form-color);
    padding: 10px 0 0 0;
    color: var(--grey-color);
    font-size: 1rem;
}

.input__wrap i {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    color: var(--grey-color);
    font-size: 1rem;
}

input:focus {
    outline: none;
    color: var(--primay-color);
}

.label__field {
    color: var(--grey-color);
    position: absolute;
    font-size:0.8125rem;
    bottom: 0;
    left: 0;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~.label__field {
    top: -14px;
    font-size: 0.75rem;
    color: var(--primary-color);
}

.valid__contraseña {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.valid__contraseña p {
    font-size: 0.8rem;
    color: var(--pass-color);
}

.valid__contraseña i {
    color: var(--grey-color);
}

.btn__back {}