<section class="factura__container animate__animated animate__fadeIn animete_faster" >
  <div class="factura__content">
    <div class="factura__nav">
      <div class="factura__header">
        <h3>{{title}}</h3>
      </div>
      <div clasS="inversion__group">
        <a routerLink="/facturas/list-factura" class="btn__factura">
            <i class='bx bx-chevron-left'></i>
          Regresar
        </a>
      </div>
    </div>
    <!-- <div class="form__content">
  <form class="factura__content-form" [formGroup]="form" (ngSubmit)="postFactura()">
    <h3>Generar Facturas</h3>
    <div class="form__group">
        <div class="form__box">
        <label for="codigoFactura">Codigó de Factura</label>
        <input type="text" id="codigoFactura" formControlName="codigoFactura" readonly>
      </div>  
      <div class="form__box">
        <label for="empresa">Empresa</label>
        <select id="empresa" formControlName="empresa" [(ngModel)]="factura.idEmpresa" class="form__input"> 
          <option disabled select value="undefined">Seleccion la empresa</option> 
          <option *ngFor="let emp of empresas" [value]="emp.idEmpresa">{{emp.razonSocial}}</option>
        </select>
        <span class="invalid" *ngIf="isValid('empresa')">{{getFieldError('empresa')}}</span>
      </div>    
      <div class="form__box">
        <label for="monto">Fecha de Pago</label>
        <input type="date" id="fechaPago" formControlName="fechaPago" [(ngModel)]="factura.fechaPago" class="form__input" [min]="getCurrentDate()">
      </div>
      <div class="form__box">
        <label for="monto">Monto de Factura</label>
        <input type="number" id="monto" formControlName="monto" [(ngModel)]="factura.monto" class="form__input" placeholder="0.00" min="0" #montoInput>
        <span class="invalid" *ngIf="showNegativeNumberError">No se aceptan números negativos</span>
      </div>
      <div class="form__box">
        <label for="descripcion">Descripción de factura</label>
        <textarea id="descripcion" formControlName="descripcion" [(ngModel)]="factura.descripcion"></textarea>
        <span class="invalid" *ngIf="isValid('descripcion')">{{getFieldError('descripcion')}}</span>
      </div>
    </div>  
    <div class="form__group--btn">
      <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
      <button class="btn btn-primary">Guardar</button>
  </div>  
  </form>
</div> -->
<div class="form__content">
  <form class="factura__content-form" [formGroup]="form" (ngSubmit)="postFactura()">
    <h3>Generar Facturas</h3>
    <div class="form__group">
       <!-- <div class="form__box">
        <label for="" form="codFactura">Codigo Factura</label>
        <input type="text" class="form__input" formControlName="codFactura" [(ngModel)]="factura.empresa" placeholder="Codigo Factura" readonly>
      </div>  -->
      <div class="form__box">
        <label for="empresa">Empresa</label>
         <select id="empresa" formControlName="empresa"class="form__input"> 
          <option disabled select value="">Seleccion la empresa</option>
          <option *ngFor="let emp of empresas" [ngValue]="emp">{{emp.razonSocial}}</option>
        </select>
        <span class="invalid" *ngIf="isValid('empresa')">{{getFieldError('empresa')}}</span>
      </div>    
      <div class="form__box">
        <label for="monto">Fecha de Factura</label>
        <input type="date" id="fechaPago" formControlName="fechaPago" class="form__input" [min]="getCurrentDate()">
        <span class="invalid" *ngIf="isValid('fechaPago')">{{getFieldError('fechaPago')}}</span>
      </div>
      <div class="form__box">
        <label for="monto">Monto de Factura</label>
        <input type="number" id="monto" formControlName="monto"class="form__input" placeholder="0.00">
        <span class="invalid" *ngIf="isValid('monto')">{{getFieldError('monto')}}</span>
      </div>
      <div class="form__box">
        <label for="descripcion">Descripción de factura</label>
        <textarea id="descripcion" formControlName="descripcion"></textarea>
        <span class="invalid" *ngIf="isValid('descripcion')">{{getFieldError('descripcion')}}</span>
      </div>
    </div>  
    <div class="form__group--btn">
      <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
      <button class="btn btn-primary">Guardar</button>
  </div>  
  <!-- <pre>{{form.value | json}}</pre> -->
  </form>
</div>
  </div>
</section>  
    