<section class="factura__container" >
  <div class="factura__content">
    <div class="factura__nav">
      <div class="factura__header">
        <h3>{{title}}</h3>
        <span>Datos de factura.</span>
      </div>
      <div clasS="inversion__group">
        <a routerLink="/dashboard/factura/list-factura" class="btn__factura">
            <i class='bx bx-chevron-left'></i>
          <span>Regresar</span>
        </a>
      </div>
    </div>
    <div class="form">
      <form class="form__content" [formGroup]="form" (ngSubmit)="postFactura()">
        <div class="form__group">
          <!-- <div class="form__box">
            <label for="" form="codFactura">Codigo Factura</label>
            <input type="text" class="form__input" formControlName="codFactura" [(ngModel)]="factura.empresa" placeholder="Codigo Factura" readonly>
          </div>  -->
          <div class="form__box">
            <label for="empresa">Empresa</label>
            <select id="empresa" formControlName="empresa" class="form__input" [class.error]="isValid('empresa')"> 
              <option disabled select value="">Seleccion la empresa</option>
              <option *ngFor="let emp of empresas"  [ngValue]="emp">{{emp.razonSocial}}</option>
            </select>
            <span class="invalid" *ngIf="isValid('empresa')">{{getFieldError('empresa')}}</span>
          </div>    
          <div class="form__box">
            <label for="monto">Fecha de Factura</label>
            <input type="date" id="fechaPago" formControlName="fechaPago" [class.error]="isValid('fechaPago')" class="form__input" [min]="getCurrentDate()">
            <span class="invalid" *ngIf="isValid('fechaPago')">{{getFieldError('fechaPago')}}</span>
          </div>
          <div class="form__box">
            <label for="monto">Monto de Factura</label>
            <input type="number" id="monto" formControlName="monto" [class.error]="isValid('monto')" class="form__input" placeholder="0.00">
            <span class="invalid" *ngIf="isValid('monto')">{{getFieldError('monto')}}</span>
          </div>
          <div class="form__box">
            <label for="descripcion">Descripción de factura</label>
            <textarea id="descripcion" class="form__input" [class.error]="isValid('descripcion')" formControlName="descripcion"></textarea>
            <span class="invalid" *ngIf="isValid('descripcion')">{{getFieldError('descripcion')}}</span>
          </div>
        </div>  
        <div class="form__group--btn">
          <button type="submit" class="btn__guardar">Guardar</button>
        </div> 
      </form>
    </div>
    </div>
   
</section>  


  
