<div class="nav" [ngClass]="getHeadClass()">
  <nav class="nav__container">
    <i class="bx bx-menu"></i>
    <div class="nav__profile">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          {{ user.username }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item select_btn" [routerLink]="['/dashboard/profile/', user.id]">
                Mis Datos<i class='bx bx-user-circle'></i>
            </a>
        </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item select_btn"(click)="logout()">
                Logout<i class='bx bx-log-out'></i>
            </a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
