.nav {
    /* position: absolute; */
    width: calc(100% - 60px);
    margin-left: 60px;
    top:0;
    z-index:1;
    transition: all .3s ease;
    border-bottom: 1px solid #f1f0f6;
    
}
.head-collapsed{
    width: calc(100% - 260px);
    margin-left: 260px;
}
.head-expanded{
    width: calc(100% - 60px);
    margin-left: 60px;
}
.nav__container {
    height: 64px;
    padding:0 20px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.nav__container .icon {
    font-size: 1.5rem;
    cursor: pointer;
}
.nav__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.75rem;
}
.nav__items p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black-color);
}

.nav__items i {
    font-size: 1.5rem;
    color: var(--primary-color);
}
