.nav {
    position: relative;
    width: calc(100% - 60px);
    margin-left: 60px;
    top:0;
    z-index:1;
    transition: all .3s ease;
    /* border-bottom: 1px solid #1E2433; */
    
}
.head-collapsed{
    width: calc(100% - 260px);
    margin-left: 260px;
}
.head-expanded{
    width: calc(100% - 60px);
    margin-left: 60px;
}
.nav__container {
    height: 64px;
    padding:0 20px;
    background-color: var(--sidebar-color-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.nav__profile .select_btn{
    /* font-size: 17px; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.select_btn i{
    font-size: 20px;
}
.nav__menu-wrap{
    position:absolute;
    top: 100%;
    right: 0.8%;
    width:150px;
}
.nav__menu{
    background: var(--white-color);
    border-radius: 8px;
    padding:5px 10px;
    margin:10px;
}
.nav__menu .nav__items{
    display: flex;
    align-items: center;
    color: var(--grey-color);
    margin:12px 0;
}
.nav__items  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav__profile button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.5rem;
}
.nav__profile i{
    font-size: 1.3rem;
    color: var(--sidebar-color);
}
.wallet-button{
    /* background-color: var(--primary-color); */
    background: transparent;
    border: 0.5px solid #fac790;
    color: var(--white-color);
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
}
.wallet-button:hover{
    /* background-color: var(--primary-color); */
    border: 0.5px solid var(--primary-color);
    color: var(--white-color);
}
.nav__profile a,
.nav__profile a i {
    color:var(--black-color);
}

.nav__container .icon {
    font-size: 1.5rem;
    cursor: pointer;
}

/* .nav__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.75rem;
    cursor: pointer;
} */
.nav__items p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black-color);
}

.nav__items i {
    font-size: 1.5rem;
    color: var(--primary-color);
}
