<div class="nav" [ngClass]="getHeadClass()">
  <nav class="nav__container">
    <button type="button" class="btn btn-primary">Nueva Inversión</button>
    <div class="nav__profile">
      <a *ngIf="isInversionista" routerLink="/dashboard/account-status" class="wallet-button">
        <i class="bx bx-coin-stack"></i>{{ objSaldo.saldo | currency:'PEN&nbsp;':'symbol-narrow'}}
      </a>
      <div class="profile">
        <a class="profile-user" (click)="toggleDropdown()">
          {{ user.nombre}} {{ user.apellidoPa}} {{ user.apellidoMa}} <i class="bx bx-chevron-down"></i>
        </a>
        <ul class="profile-link" [ngClass]="{ 'show': isDropdownOpen }">
          <li>
            <a routerLink="/dashboard/details-profile"><i class="bx bx-user-circle icon"></i>Mis Datos</a>
            
          </li>
          <li>
            <a routerLink="/dashboard/details-profile" (click)="logout()">
              <i class="bx bx-log-out icon"></i>Logout
            </a>
            <i></i>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
</div>
<!-- <div class="dropdown"> 
        <button  class="btn btn-outline-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.nombre?.charAt(0) }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item select_btn" routerLink="/dashboard/details-profile">
              Mis Datos<i class="bx bx-user-circle icon"></i>
            </a>
          </li>
          <li><hr class="dropdown-divider"/></li>
          <li>
            <a class="dropdown-item select_btn" (click)="logout()">
              Logout<i class="bx bx-log-out icon"></i>
            </a>
          </li>
        </ul>
      </div> -->