.sidebar{
    position: fixed;
    width:60px;
    height: 100%;
    top:0;
    z-index: 2;
    overflow-y: auto;
    background-color:var(--white-color);
    transition: all 0.3s ease;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar-collapse{
    width:260px;
}
.sidebar .icon{
    min-width: 48px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    font-size: 20px;
}
.sidebar .sidebar__logo{
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    height: 64px;
    font-weight: bold;
    position: sticky;
    top:0;
    left:0;
    cursor: pointer;
    transition: all .3s ease;
    padding: 0 6px;
    border-bottom: 1px solid #f1f0f6;
    border-right: 1px solid #f1f0f6;
    
}
.sidebar__logo p{
    margin-left: 6px;
    display:flex;
    align-items: center;
}

.sidebar__logo span{
    margin-left: 0.375rem;
    color: var(--primary-color);
}
.btn-open{
    background: var(--primary-color);
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding:5px;
    width:3rem;
    min-width: 3rem;
    margin-right: 6px;
    padding: 0.3125rem;
}
.btn-open .toggle{
    color: var(--white-color);
    font-size: 30px;
}
.btn-close{
    margin-left: 1.5rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width:30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
}

 /* .sidebar__logo img{
    width:30px;
    height:30px;
 }  */
.sidebar__menu{
    margin: 100px 0;
    padding: 0 6px;
    transition: all .3s ease;
    /* height: calc(100% - 300px); */
}
.sidebar__item{
    /* width:100%; */
    margin-bottom: 1.5625rem;
}
.sidebar__item:last-child{
    margin-bottom: 0;
}
.sidebar__item a{
    display: flex;
    align-items: center; 
    font-size:0.875rem;
    color:var(--text-color);
    transition: all 0.3s ease;
    padding: 12px 16px 12px 0;
    border-radius: 10px;
    margin: 4px 0;
}
.sidebar__item a:hover{
    background-color: #f1f0f6;
}
.sidebar__item a.active,
.sidebar__item a.active:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
