.sidebar{
    position: fixed;
    width:60px; 
    height: 100vh;
    top:0;
    z-index: 0  ;
    overflow-y: auto;
    scrollbar-width: none;
    background-color:var(--white-color);
    transition: all 0.3s ease;
    
}
.sidebar::-webkit-scrollbar{
   display: none;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar-collapse{
    width:260px; /** 260px**/
}
.sidebar .icon{
    min-width: 48px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    font-size: 20px;
}
.sidebar .icon-right{
    margin-left: auto;
    transition: all .3s ease-in-out;
}
.sidebar .side-menu{
    margin: 100px 0;
    padding: 0 6px; /**6px**/
    transition: all .3s ease;
}
.sidebar .side-menu a{
    display: flex;
    align-items: center;
    font-size:0.875rem;
    color:var(--black-color);
    transition: all 0.3s ease;
    padding: 12px 16px 12px 0; 
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    grid-gap: 6px;
    white-space: nowrap;
}
.sidebar .side-menu a:hover{
    background-color: #bbbbbb67;
}
.sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}
.sidebar .side-menu > li > a.active,
.sidebar .side-menu > li > a.active:hover{
    background-color: var(--sidebar-color);
    color: var(--white-color);
}
.sidebar .divider{
    margin: 12px 0 14px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color:var(--grey-color);
    transition: all .3s ease;
}
.sidebar .side__dropdown{
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}
.sidebar .side-dropdown a:hover{
    background-color: #bbbbbb67;
}

.sidebar .sidebar__logo{
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 64px;
    font-weight: bold;
    position: sticky;
    top:0;
    left:0;
    z-index:100;
    cursor: pointer;
    transition: all .3s ease;
    padding: 0 6px;
    /* border-bottom: 1px solid #1E2433;
    border-right: 1px solid #1E2433; */
    
}
 .sidebar__logo p{
    margin-left: 6px;
    color:var(--black-color);
    display:flex;
    align-items: center;
    margin-bottom:0;
}

.sidebar__logo span{
    margin-left: 0.375rem;
    color: var(--sidebar-color);
}
.button-open{
    background: var(--sidebar-color);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding:5px;
    width:3rem;  
    min-width: 3rem;
}
.button-open .side-open{
    color: var(--white-color);
    font-size: 30px;
    line-height: 1.2;
}
.button-close{
    margin-left: 1.5rem;
    font-size: 2rem;
    background-color: transparent;
    color:var(--black-color);
    border: none;
    cursor: pointer;
    width:30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
}


.sidebar__item{ 
    /* position: relative; */
     margin-bottom: 1.5625rem;
} 

.sidebar__item:last-child{
    margin-bottom: 0;
}