.oportunities__user--container {
  position: relative;
  /* background-color: var(--panel-color);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15); */
  /* border-radius: 10px; */
  height: 100%;
  width: 100%;
}

.oportunities__user--content a {
  cursor: pointer;
}

.oportunities__user--container h3 {
  font-size: 24px;
  font-weight: 600;
}

.oportunities__user--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.oportunities__user--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.oportunities__user--box {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem;
  width: 100%;
}

.oportunities__box--content {
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 100%;

}

.oportunities__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0;  */
  margin-bottom: 1rem;
}

.oportunities__title span {
  font-weight: 600;
  color: var(--black-color);
}

.oportunities__pago {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.oportunities__pago-fecha,
.oportunities__pago-tasas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.oportunities__pago-fecha span,
.oportunities__pago-tasas span {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}

.oportunities__pago-fecha p,
.oportunities__pago-tasas p {
  font-size: 14px;
  font-weight: 600;
}

.oportunities__title h4 {
  font-size: 17px;
  font-weight: 600;

}

.btn__factura {
  padding: 0.625rem 1rem;
  border-radius: 20px;
  background-color: var(--sidebar-color);
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* outline: none; */
}

.btn__factura:hover {
  background-color: #373ece;
}

.factura__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.oportunities__pago .oportunities__pago-tasas p {
  text-align: end;
}

/*MODAL*/
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-container {
  background-color: #fff;
  padding: 20px 10px 20px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 750px;
  height: 100%;
  overflow-y: auto;/* Agrega un scroll vertical si es necesario */
  animation: slideIn 0.3s ease-in-out;
}
/*scroll*/
.modal-container::-webkit-scrollbar {
  width:10px;
}
/* Estilos del track */
.modal-container::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 20px;
}

/* Estilos del thumb en hover */
.modal-container::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f90
}
.modal__container--form {
  background-color: var(--white-color);
  padding: 20px;
  width: 100%;
  max-width: 35%;
  height: 100%;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.show {
  right: 0;
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h1 {
  font-size: 18px;
  font-weight: 600;
}

.modal-header .close-button i {
  font-size: 24px;
  color: var(--sidebar-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #eaedf8;
  border-radius: 50%;
}

.close-button {
  background-color: transparent;
  border: none;
}

.modal-body {
  padding: 10px 0;
}

.modal__body--riesgo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.modal-pago,
.modal-riesgo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.modal-riesgo {
  margin-bottom: 0;
}

.modal-pago p,
.modal__percent-finances p,
.modal__perfect--progress p {
  font-size: 13px;
  color: var(--text-color);
}

.modal-pago span,
.modal__percent-finances span,
.modal__perfect--progress span {
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color);
}

/*POGRESS BAR*/
/* Estilos para la progress bar */
.modal-finances {
  margin-top: 3.5rem;
}

.modal__percent-finances {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.modal__form--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__form--header h3 {
  font-size: 16px;
  font-weight: 600;
}

.modal__form--header .modal__form--saldo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal__form--header .modal__form--saldo p {
  font-size: 14px;
  color: var(--text-color);
  text-align: end;
}

.modal__form--input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top:3rem;
  margin-bottom: 1.5rem;
}

.modal__form--input label {
  font-size: 13px;
  font-weight: 600;
  color: var(---color);
}

.input__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input__wrapper::before {
  content: "S/.";
  position: absolute;
  left: 0.5rem;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 600;
}

.input__wrapper::after {
  content: "PEN";
  position: absolute;
  right: 0.5rem;
  color: var(---color);
  font-size: 13px;
}

.modal-input {
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 15px;
  color: var(--black-color);
  outline: none;
}

.modal__form--input input {
  border: none;
  border-bottom: 1px solid var(--text-color);
  border-radius: 0;
  background-color: var(--white-color);
  padding: 0.5rem 2.3rem;
  color: var(--sidebar-color);

}

.modal__form--input input::placeholder {
  color: var(--text-color);
  font-weight: 600;
  font-size: 13px;
}

.modal__form--input input[type="number"]::-webkit-inner-spin-button,
.retiro__box:nth-child(3) input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-retorno,
.form--mensual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.form--mensual{
  margin-bottom:2rem;
}
.form-retorno span{
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}
.form-retorno p{
  font-size: 15px;
  font-weight: 600;
  color: var(--black-color);
}
.form--mensual{
  width:95%;
}
.form--mensual span{
  font-size: 11px;
  font-weight: 600;
  color: var(--text-color);
}
.form--max{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:1.5rem;
}
.form--max span{
  font-size: 13px;
  font-weight: 600;
  color: var(---color);
}
.modal__form--button{
  display: flex;
  justify-content: flex-end;
}
.modal__form--button button{
  background-color: var(--sidebar-color);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.625rem 1rem;
  color:var(--white-color);
  transition: all 0.3s ease-in-out;
}
.modal__form--button button:hover{
  background-color: #373ece;
}
/*progress bar*/
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eaedf8;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.3s ease;
}

.modal__perfect--progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1.25rem 0;
}

/* Estilos para el ACCORDION */

.accordions-content {
  margin-bottom: 10px;
  background-color: #eaedf8;
  border-radius: 8px;
  padding: 15px;

}

.accordions-header {
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordions-header span {
  font-size: 15px;
  font-weight: 500;
  color: var(--black-color);
}

.accordions-header i {
  font-size: 20px;
  color: var(--sidebar-color);
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.accordions-description p {
  /* font-size: 15px; */
  font-weight: 500;
}

.accordions-description {
  margin-top: 1rem;
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  max-height: 0;
  opacity: 0;
}

.accordions-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.accordions-description .accordions-box span {
  font-size: 13px;
}

.accordions-description .accordions-box p {
  width: 50%;
  /* text-transform: capitalize; */
  font-size: 13px;
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
    /* padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; */
  }

  100% {
    max-height: 1000px;
    opacity: 1;
    /* padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
  }
}

.hidden {
  display: none;
}