<section class="status animate__animated animate__fadeIn animete_faster">
  <h3>Estado de cuenta</h3>
  <app-tabs [tabs]="tabs" (onTabsChange)="tabsChange($event)"></app-tabs>
</section>
<div class="status__box">
  <div
    class="status__content animate__animated animate__fadeIn animete_faster"
    *ngIf="activeTabsIndex === 0"
  >
    <p>Movimiento.</p>
  </div>
  <div
    class="status__content animate__animated animate__fadeIn animete_faster"
    *ngIf="activeTabsIndex === 1"
  >
    <p>deposito</p>
  </div>
  <div
    class="status__content animate__animated animate__fadeIn animete_faster"
    *ngIf="activeTabsIndex === 2"
  >
    <div class="account">
      <button class="open-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar Cuenta Bancaria
        <i class="bx bx-plus icon"></i>
      </button>
        <div class="account__bank">
          <h4>Banco de credito</h4>
          <div class="account__info">
            <div class="account__info-content">
              <p>Titular</p>
              <span>Jorge Gonzales</span>
            </div>
            <div class="account__info-content">
              <div>
                <p>Moneda:</p>
                <span>PEN</span>
              </div>
                <i class="bx bx-trash icon"></i>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ingresa los datos de tú tarjeta
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form" id="form-tarjeta" (ngSubmit)="postCuentaBancaria()">
          <div class="form__content">
            <!-- <div class="form__box">
                <label for="titular">Titular de la cuenta</label>
                <input type="text" class="form__input" name="titular" id="titular" disabled>
            </div> -->
            <div class="form__box">
              <label for="banco">Selecciona el banco</label>
              <select class="form__input" name="banco" id="banco" [(ngModel)]="objCuentaBancaria.banco!.idBancos">
                <option value="-1">Selecciona Bancos</option>
                <option *ngFor="let banco  of bancos" value="{{banco.idBancos}}">{{banco.nomBancos}}</option>
              </select>
            </div>
            <div class="form__box">
                <label for="moneda">Tipo de Moneda</label>
                <select class="form__input" name="moneda" id="moneda" [(ngModel)]="objCuentaBancaria.moneda!.idMonedas">
                  <option value="-1">Selecciona Moneda</option>
                  <option *ngFor="let moneda of monedas" value="{{moneda.idMonedas}}">{{moneda.nomMonedas}}</option>
                </select>
            </div>
            <div class="form__box">
                <label for="cuenta">Número de cuenta</label>
                <input type="text" class="form__input" name="cuenta" id="cuenta" [(ngModel)]="objCuentaBancaria.nroCuenta">
            </div>
            <div class="form__box">
                <label for="mes">Mes de vencimiento</label>
                <select class="form__input" name="mes" id="mes" [(ngModel)]="objCuentaBancaria.mes">
                    <option  value="-1">Mes</option>
                </select>
            </div>
            <div class="form__box">
                <label for="year">Año de vencimiento</label>
                <select class="form__input" name="year" id="year" [(ngModel)]="objCuentaBancaria.year">
                    <option disabled selected value="-1">Año</option>
                </select>
            </div>
            <div class="form__box">
              <label for="cvv">CVV</label>
              <input type="text" class="form__input" name="cvv" id="cvv" [(ngModel)]="objCuentaBancaria.cvv">
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-success" (click)="postCuentaBancaria()">Guarda</button>
      </div>
    </div>
  </div>
</div>
