<section class="inversion__container animate__animated animate__fadeIn animete_faster" >
  <div class="inversion__content">
      <div class="inversion__nav">
        <div class="inversion__header">
          <h3>Oportunidades</h3>
        </div>
        <div clasS="inversion__group">
          <a routerLink="/inversiones/add-inversion" class="btn__factura">
            <i class="bx bx-plus"></i>
            Agregar Oportunidades
          </a>
        </div>
      </div>
      <app-tabs [tabs]="tabs" (onTabsChange)="tabsChange($event)"></app-tabs>
      <div class="inversion__box">
        <div
          class="inversion__content animate__animated animate__fadeIn animete_faster"
          *ngIf="activeTabsIndex === 0"
        >
        <div class="listar__content-table">
          <table class="listar__table">
            <thead class="listar__thead">
              <tr>
                <th>Codigó</th>
                <th>Razon Social</th>
                <th>rendimiento</th>
                <th>tir</th>
                <th>fecha caducidad</th>
                <th>monto</th>
              </tr>
            </thead>
            <tbody class="listar__tbody">
              <tr *ngFor="let opor of oportunidad">
                <td>{{opor.idOportunidad}}</td>
                <td>{{opor.empresa?.razonSocial}}</td>
                <td>{{opor.rendimiento  | percent}}</td>
                <td>{{opor.tir | percent}}</td>
                <td>{{opor.fechaCaducidad}}</td>
                <td>{{opor.monto | currency:'S/.&nbsp;':'symbol-narrow'}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div
          class="inversion__content animate__animated animate__fadeIn animete_faster"
          *ngIf="activeTabsIndex === 1"
        >
        <div class="listar__content-table">
          <table class="listar__table">
            <thead class="listar__thead">
              <tr>
                <th>Codigó</th>
                <th>Razon Social</th>
                <th>rendimiento</th>
                <th>tir</th>
                <th>fecha caducidad</th>
                <th>monto</th>
              </tr>
            </thead>
            <tbody class="listar__tbody">
              <tr *ngFor="let opor of oportunidad">
                <td>{{opor.idOportunidad}}</td>
                <td>{{opor.empresa?.razonSocial}}</td>
                <td>{{opor.rendimiento  | percent}}</td>
                <td>{{opor.tir  | percent}}</td>
                <td>{{opor.fechaCaducidad}}</td>
                <td>{{opor.monto | currency:'S/.&nbsp;':'symbol-narrow'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
  </div>
   
</section>


<!---- <app-modal (closeModal)="closeModal()" [showModal]="showModal"></app-modal> -->