.search{
    position: relative;
    /* margin-bottom: 2rem; */
 }
 
 .search__box .search__input{
     border: none;
     border-bottom: 1px solid var(--sidebar-color-content);
     background: none;
     /* border-radius: 10px; */
     padding:0.5rem;
     outline: none;
 }
 .search__box .icon{
     position: absolute;
     top: 50%;
     right:80rem;
     z-index: 3;
     transform: translateY(-50%);
     color: var(--primary-color);
     font-size: 16px;
 }