<section class="company__container animate__animated animate__fadeIn animete_faster">
    <h3>{{title}}</h3>
    <div class="listar__content">
        <div class="listar__button">
          <div>
            <a routerLink="/empresas/add-company" class="btn__save">
              <i class="bx bx-plus"></i>
              Crear Empresa
            </a>
          </div>
        </div>
        <div class="listar__content-table">
          <table class="listar__table">
            <thead class="listar__thead">
              <tr>
                <th>Codigó</th>
                <th>Empresa</th>
                <th>Fecha de Regitro</th>
                <th>Ganancia</th>
                <th>Retorno</th>
                <th>Estado</th>
                <th>Fecha Pago</th>
              </tr>
            </thead>
            <tbody class="listar__tbody">
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</section>
