.company__container {
    position: relative;
    height: 100%;
}

.company__header h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.company__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

/* .search__company{
   position: relative;
}
.search__company .search{
    width: 100%;
    border: 1px solid var(--sidebar-color-content);
    border-radius: 20px;
    padding:0.375rem 2.5rem;
    outline: none;
} */
.company__box {
    padding: 1rem 0;
}

/* .search__company .icon{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 16px;
}
.company__form .form__content{
    background-color: var(--white-color);
    padding:1rem;
    border-radius: 10px;
} */

.listar__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.listar__btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.listar__btn-group i {
    background-color: #eaedf8;
    color: var(--sidebar-color);
    padding: 0.4rem;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.listar__content-table {
    overflow-y: auto;
}

.listar__content-table::-webkit-scrollbar {
    display: none;
}

.listar__content-table::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color)er;
    border-radius: 1rem;
    transition: background-color .8s ease-in-out;
}

.listar__content-table::-webkit-scrollbar-thumb:hover {
    background-color: var(--sidebar-color-hover);
}

.listar__content-table::-webkit-scrollbar-track {
    background: #ffffff;
}

.listar__table {

    border-collapse: collapse;
    width: 100%;
    background-color: var(--table-color);
    border: 1px solid var(--second-table-color);
    padding: 0.875rem;

}

.listar__thead {
    background-color: var(--second-table-color);
}

.listar__table .listar__thead th {
    padding: 1rem 0.75rem;
    font-size: 13px;
    font-weight: 700;
    color: var(--text-color-light);
    text-transform: uppercase;
    border-bottom: 1px solid var(--second-table-color);
}

.listar__table .listar__thead,
.listar__table .listar__tbody {
    text-align: center;
}

.listar__table .listar__tbody tr {
    border-bottom: 1px solid var(--second-table-color);
}

.listar__table .listar__tbody tr:nth-child(even) {
    background-color: #ffffff;

}

.listar__table .listar__tbody tr:last-child {
    border-bottom: none;
}

.listar__table .listar__tbody tr td {
    padding: 0.625rem 0.625rem;
    font-size: 12px;
}

.listar__table .listar__tbody tr:hover {
    background-color: #ececec;
}

.btn__company {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-color);
    padding: 5px;
    border-radius: 20px;
    color: var(--white-color);
    cursor: pointer;
}

.btn__company span {
    display: none;
}

.btn__company i {
    font-size: 20px;
}

.btn__company:hover {
    background-color: #373ece;
}

@media screen and (min-width: 768px) {
    .company__header h3 {
        font-size: 1.5rem;
    }

    .btn__company {
        padding: 10px 20px;
    }

    .btn__company span {
        font-size: 14px;
        display: block;
    }

    .listar__table .listar__tbody tr td {
        font-size: 13px;
    }
}