<section class="company__container animate__animated animate__fadeIn animete_faster">
    <h3>{{title}}</h3>
    <div class="listar__content">
        <div class="listar__button">
          <div>
            <a routerLink="/empresas/add-company" class="btn__save">
              <i class="bx bx-plus"></i>
              Crear Empresa
            </a>
          </div>
        </div>
        <div class="listar__content-table">
          <table class="listar__table">
            <thead class="listar__thead">
              <tr>
                <th>Codigó</th>
                <th>Razon Social</th>
                <th>RUC</th>
                <th>Rep. Legal</th>
                <th>Nombre Comercial</th>
                <th>Inicio de Actividad</th>
                <th>Actividad Comercial</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="listar__tbody">
              <tr *ngFor="let emp of empresasList">
                <td>{{emp.idEmpresa}}</td>
                <td>{{emp.razonSocial}}</td>
                <td>{{emp.ruc}}</td>
                <td>{{emp.representanteLegal}}</td>
                <td>{{emp.nomEmpresa}}</td>
                <td>{{emp.fechaDeInicioActv}}</td>
                <td>{{emp.sector}}</td>
                <td>
                  <div class="listar__btn-group">
                    <a href="">
                      <i class='bx bxs-edit-alt'></i>
                    </a>
                    <a href="">
                      <i class='bx bx-trash' ></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</section>
