
.page-container{
    margin-top: 10px;
    padding:0;
}
.page-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}
.page-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;   
    color:var(--sidebar-color);
    
}
