<div class="page-container">
  <div class="page-content">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" *ngIf="pagination.number > 0">
          <a [routerLink]="['/dashboard/empresa/list-company',pagination.number - 1]" class="page-link button"aria-label="Next">
            <i class='bx bxs-chevrons-left'></i>
            Anterior
          </a>
        </li>
        <li class="page-item" *ngFor="let numeroPaginas of pages" [ngClass]="numeroPaginas - 1 === pagination.number ? 'disabled' : ''" >
          <span class="page-link" *ngIf="numeroPaginas - 1 === pagination.number">{{numeroPaginas}}</span>
          <a  class="page-link " *ngIf="numeroPaginas - 1 !== pagination.number" [routerLink] = "['/dashboard/empresa/list-company',numeroPaginas - 1]" >{{numeroPaginas}}</a>
        </li>
        <li class="page-item" *ngIf="pagination.number < pagination.totalPages - 1">
          <a [routerLink]="['/dashboard/empresa/list-company',pagination.number + 1]" class="page-link button"aria-label="Next">
            Siguiente
            <i class='bx bxs-chevrons-right'></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
