<section class="profile">
  <div class="profile__header">
    <h3>{{title}}</h3>
  </div>
  <div class="profile__container">
    <div class="box">
      <div class="box__title">
        <div class="box__img">
          <img src="/assets/img/avatar2.png" alt="foto-perfil" />
         
        </div>
        <div class="box__text">
          <p>{{concatNameComplete()}}</p>
          <span>{{isAdministrador ? 'Administrador':'Inversionista'}}</span>
        </div>
      </div>
    </div>
    <div class="box">
       <div class="box__info">
         <div class="box__info--title">
          <h4>Información personal</h4>
         </div>
          <div class="box__info--content">
            <div class="box__info--data">
              <p class="box__info--text">Nombres</p>
              <span class="box__info--name">{{usuario.nombre}}</span>
            </div>
            <div class="box__info--data">
              <p class="box__info--text">Apellidos</p>
              <span class="box__info--name">{{usuario.apellidoPa}} {{usuario.apellidoMa}}</span>
            </div>
            <div class="box__info--data">
              <p class="box__info--text">Correo electronico</p>
              <span class="box__info--name">{{usuario.correo  }}</span>
            </div>
            <div class="box__info--data">
              <p class="box__info--text">Telefono</p>
              <span class="box__info--name">{{usuario.telefono  }}</span>
            </div>
            
          </div>
       </div>
    </div>
    <div class="box">
      <div class="box__info--title">
        <h4>Seguridad</h4>
      </div>
      <form class="box__info--security">
        <div class="box__info--password"> 
          <label for="newpassword" class="box__info--label">Nueva contraseña</label>
          <input type="text" class="box__info--input" id="newpassword">
        </div>
        <div class="box__info--password">
          <label for="repitpass" class="box__info--label">Repetir contraseña</label>
          <input type="text" class="box__info--input" id="repitpass">
        </div>
        <div class="box__info--password box__btn">
          <button type="button" class="box__info--btn--edit" (click)="openModal()" >
            <i class='bx bx-edit'></i>
            Cambiar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<div *ngIf="showModal === true">
  <app-modal title="Cuidado" message="Esta en proceso de implementación."></app-modal>
</div>