.profile{
    position: relative;
    background-color: var(--panel-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
}
.profile h3{
    padding: 1rem;
    border-bottom: 1px solid var(--second-table-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    color:var(--white-color);
    font-size: 18px;
    font-weight: 500;
}
.profile__container{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
}
.profile__content{
    background-color: var(--white-color);
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contenedor{
    margin-top: 3rem;
}
.profile__photo{
    background-color: var(--white-color);
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}
.profiel__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.profiel__button button{
    border:none;
    /* background-color:; */
    color:var(--white-color);
    padding:0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.875rem;
}
.profiel__button button i {
    font-size: 18px;
    color:var(--white-color);
}
.profile__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.profile__box--content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.profile__tiny{
    font-size: 12px;
    color:var(--grey-color);
}
.profile__normal{
    font-size: 16px;
    font-weight: 500;
}
.profile__tiny-one{
    text-align: right;
}
.profile__photo img{
    width:300px;
}
.btn__save {
    padding: 0.625rem 1rem;
    border-radius: 5px;
    background-color: #157347;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn__save:hover{
    background-color: #138b0f;
}

.form__content{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:1rem;
}
.form__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:0.75rem;
}
.input__field{
    width: 100%;
    height: 40px;
    border: 1px solid var(--second-table-color);
    border-radius: 5px;
    padding: 0 0.5rem;
    font-size: 14px;
    font-weight: 500;
    /* color:var(--text-color); */
}