@import 'ngx-toastr/toastr';
:root{
    --primary-color: #172939;
    --sidebar-color: #434CE6;
    --sidebar-color-content:#293249;
    --sidebar_color-hover:#313ae4;
    --circle-color: #7DE8FF;
    --white-color: #ffffff;
    --black-color: #1E1E1E;
    --grey-color:#6F6F6F;
    --form-color:#B9B6B6;
    --previus-color-btn:#dadada;
    --text-color-btn:#7A7A7A;
    --text-color:#a9a7a7;
    --pass-color:#6D6D6D;
    --table-color: #f8f9fc;
    --second-table-color: #e3e6f0;
    /* TYPOGRAPHY */
    --font-primary: 'Monserrat', sans-serif;
}
.dark-mode {
    --primary-color: #1E2433;
    --sidebar-color: #434CE6;
    --sidebar-color-content: #1E2433;
    --circle-color: #7DE8FF;
    --white-color: #ffffff;
    --black-color: #000000;
    --grey-color: #6F6F6F;
    --form-color: #B9B6B6;
    --previus-color-btn: #dadada;
    --text-color-btn: #7A7A7A;
    --text-color: #707070;
    --pass-color: #6D6D6D;
    --table-color: #f8f9fc;
    --second-table-color: #e3e6f0;
    /* --font-primary:  */
}
*,
*::before,*::after {
  box-sizing: border-box;
  padding:0;
  margin:0; 
}
body{
    position: relative;
    font-family:'Monserrat', sans-serif;;
    background-color:#f4f6fc;
    line-height: normal;
    overflow-x: hidden;
}
ul,
li{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
p{
    margin:0;
    line-height: normal;
}
button{
    line-height: normal;
    margin:none;
}
h1,h2,h3,h4,h5{
    margin:0;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color);
    border-radius: 1rem;
    transition: background-color .8s ease-in-out;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--sidebar_color-hover); 
}
body::-webkit-scrollbar-track {
    background: #ffffff;
}
