<section class="listar animate__animated animate__fadeIn animete_faster">
  <h3>Mis Inversiones realizadas</h3>
  <div class="listar__content">
    <div class="listar__button">
      <div>
        <button type="button" class="btn__save" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bx bx-plus"></i>
          Agregar Inversión
        </button>
      </div>
    </div>
    <div class="listar__content-table">
      <table class="listar__table">
        <thead class="listar__thead">
          <tr>
            <th>Fecha inversión</th>
            <th>Deudor</th>
            <th>Inversión</th>
            <th>Ganancia</th>
            <th>Retorno</th>
            <th>Estado</th>
            <th>Fecha Pago</th>
          </tr>
        </thead>
        <tbody class="listar__tbody">
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ingresar Inversión
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form" id="form-tarjeta">
          <div class="form__content">
            <div class="form__box">
                <label for="titular">Monto</label>
                <input type="text" class="form__input" name="titular" id="titular">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
