<h1 class="head__title">Mis inversiones realizadas</h1>
<section class="inversiones_section">
        <table>
            <thead>
                <tr>
                    <th>Fecha inversión</th>
                    <th>Deudor</th>
                    <th>Inversión</th>
                    <th>Ganancia</th>
                    <th>Retorno</th>
                    <th>Estado</th>
                    <th>Fecha Pago</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
</section>