<section class="listar">
  <h3>Mis Inversiones realizadas</h3>
  <div class="listar__content">
    <div class="listar__button">
      <div>
        <button type="button" class="btn__save">
          <i class="bx bx-plus"></i>
          Agregar Inversión
        </button>
      </div>
    </div>
    <div class="listar__content-table">
      <table class="listar__table">
        <thead class="listar__thead">
          <tr>
            <th>Fecha inversión</th>
            <th>Deudor</th>
            <th>Inversión</th>
            <th>Ganancia</th>
            <th>Retorno</th>
            <th>Estado</th>
            <th>Fecha Pago</th>
          </tr>
        </thead>
        <tbody class="listar__tbody">
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
