/*marcador*/

.head__title{
    margin-bottom: 2.5rem;
    font-weight: 500;
}

.inversiones_section {
    width: 100%;
    height:calc(100vh - 180px);
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-spacing: 0;
    padding:1.5rem 0;
}
.inversiones_section table{
    width: 100%;
}

.inversiones_section table tr{
    margin: 1.5rem  0 ;
}

.inversiones_section>tbody>td {
    padding: 1.5rem;
    background-color: rgba(128, 128, 128, 0.308);
}