<section class="pass">
    <div class="pass__header">
        <i class='bx bx-fingerprint icon'></i>
        <h2 class="pass__header-title">¿Olvidaste tú contraseña?</h2>
        <p class="pass__header-info">No te preocupes, Te enviaremos las instrucciones del recupero.</p>
    </div>
    <form action="" class="pass__form">
        <div class="pass__form-content">
            <label for="email">Correo electronico</label>
            <input type="email" placeholder="Correo electrónico" id="email" class="pass__content-input">
        </div>
        <div class="pass__btn">
            <button type="submit" class="pass__btn-send">Recuperar Contraseña</button>
        </div>
    </form>
    <div class="pass__back">
        <a routerLink="/auth/login" class="pass__back-link">
            <i class="bx bx-chevron-left"></i>
            Atras para iniciar sesión
        </a>
    </div>
</section>