
.main{
    /* position: fixed; */
    width:calc(100% - 60px);
    margin-left: 60px;
    /* top:4rem; */
    padding: 20px 40px;
    transition: all .3s ease;
    z-index:1;
    /* height: calc(100vh - 100px); */

}
.body-open{
    width:calc(100% - 260px);
    margin-left: 260px;
}
.body-md-screen{
    width:calc(100% - 60px);
    margin-left: 60px;
}
